body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa; /* Background color for the page */
    background-image: url('under_construction.webp'); /* Path to background image */
    background-size: cover;
    background-position: center;
    position: relative; /* Needed for pseudo-element positioning */
}



.container {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 600px; /* Maximum width of the container */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.text-background {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    padding: 20px;
    border-radius: 10px;
    display: inline-block; /* Or block, depending on your layout */
    margin: 0 auto; /* This will maintain the centered layout */
}

h1 {
    color: #333;
    font-size: 2.5rem;
}

p {
    color: #555;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.contact-info {
    margin-top: 20px;
}

.contact-info p {
    color: #666;
    font-size: 1rem;
    margin-bottom: 10px;
}

.contact-link {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #333;
    padding: 10px;
    border-radius: 5px;
    background-color: #f0f0f0;
    transition: background-color 0.3s ease;
    margin: 5px 0; /* Space between links */
}

.contact-link:hover {
    background-color: #e0e0e0;
}

.contact-icon {
    width: 30px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    vertical-align: middle; /* Align SVG vertically with text */
}
